<%- include('../parts/html-head') %>
    <%- include('../parts/navbar') %>

        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h3>新增資料</h3>
                    <form name="form1" onsubmit="sendForm(event)">
                        <div class="mb-3">
                            <label for="" class="form-label">name</label>
                            <input type="text" class="form-control" name="name" />
                            <div class="form-text"></div>
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">email</label>
                            <input type="text" class="form-control" name="email" />
                            <div class="form-text"></div>
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">mobile</label>
                            <input type="text" class="form-control" name="mobile" />
                            <div class="form-text"></div>
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">birthday</label>
                            <input type="date" class="form-control" name="birthday" />
                            <div class="form-text"></div>
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">address</label>
                            <input type="text" class="form-control" name="address" />
                            <div class="form-text"></div>
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>

        <%- include('../parts/scripts') %>
            <script>
                const Joi = joi;

                function sendForm(event) {
                    event.preventDefault();

                    const fd = new FormData(document.form1);

                    // 轉換成物件
                    const dataObj = {};
                    for (let i of fd.entries()) {
                        // console.log(i);

                        dataObj[i[0]] = i[1];
                    }
                    // console.log(dataObj); // 轉換成物件

                    console.log(Joi);
                    const schema = Joi.object({
                        name: Joi.string()
                            .min(3)
                            .required()
                            .messages({ 'string.empty': '姓名必填' }),
                        email: Joi.string()
                            .email({ tlds: false })
                            .required(),
                        mobile: Joi.string(),
                        birthday: Joi.any(),
                        address: Joi.string(),
                    });
                    console.log(schema.validate(dataObj, { abortEarly: false }));



                    const usp = new URLSearchParams(fd);

                    /*
                    // 傳送 JSON
                    fetch('', {
                        method: 'POST',
                        body: JSON.stringify(dataObj),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                    .then(r=>r.json())
                    .then(obj=>{
                        console.log(obj)
                    })
                    */


                    /*
                    // 轉換 urlencoded
                    console.log(usp.toString());
                    fetch('', {
                        method: 'POST',
                        body: usp.toString(),
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded'
                        }
                    })
                    .then(r=>r.json())
                    .then(obj=>{
                        console.log(obj)
                    })
                    */




                    // multipart-formdata
                    fetch('', {
                        method: 'POST',
                        body: fd
                    })
                        .then(r => r.json())
                        .then(obj => {
                            console.log(obj)
                        })

                }

            </script>
            <%- include('../parts/html-foot') %>